---
const { title = "The Peoples App - Digital Pitch" } = Astro.props;
import "reveal.js/reveal.css";
import "reveal.js/theme/black.css";
import "highlight.js/styles/arta.css";
// import "beercss/dist/cdn/beer.scoped.min.css"; // Scoped breaks old browsers
import "beercss/dist/cdn/beer.min.css"; 
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&family=Roboto+Mono:wght@400;500&display=swap">
    <style>
    @layer revealTheme, reveal, beer;
    @import url("reveal.js/theme/black.css") layer(revealTheme);
    /* @import url("beercss/dist/cdn/beer.scoped.min.css") layer(beer); */
    @import url("beercss/dist/cdn/beer.min.css") layer(beer);
    @import url("reveal.js/reveal.css") layer(reveal);
    .make-it-pop {
      filter: drop-shadow(0 0 10px purple);
    }
    .make-it-fade {
      opacity: .1;
      transition: opacity 2s ease-in-out;
    }
    </style>
  </head>

  <body>
    <!-- Reveal.js -->
    <div class="reveal">
      <div class="slides">
        <slot /> <!-- Slides -->
      </div>
    </div>

    <script>
    import Reveal from "reveal.js";
    import RevealNotes from 'reveal.js/plugin/notes';

    import RevealHighlight from 'reveal.js/plugin/highlight';
    // Init reveal.js
    const deck = new Reveal();
    deck.initialize({
      plugins: [RevealNotes, RevealHighlight],

      // ********* REVEALJS CONFIG *********
      showNotes: false,
      hash: true, // Add slide # to URL (default false)

      disableLayout: false, // Roll your own layout (default false)

      // The "normal" size of the presentation, aspect ratio will
      // be preserved when the presentation is scaled to fit different
      // resolutions. Can be specified using percentage units.
      width: 1920, // (default 960)
      height: 1080, // (default 700)

      // Factor of the display size that should remain empty around
      // the content
      margin: 0.04, // (default 0.04)

      // Bounds for smallest/largest possible scale to apply to content
      minScale: 0.2, // (default 0.2)
      maxScale: 2.0, // (default 2.0)
      center: true, // (default true)
    });

    // import "beercss/scoped"; // Breaks old browser
    import "material-dynamic-colors";
    import { ui } from "beercss/dist/cdn/beer.min.js";
    let mode = ui("mode", "light");
    let theme = await ui("theme", "#00ff00");
    console.log('theme: ', theme, 'mode: ', mode);
    Reveal.on('make-it-pop', () => {
      console.log('✨');
    });

    </script>
  </body>
</html>
